[Desktop Entry]
Name=gEdit
Name[fr]=gEdit
Name[no]=gEdit
Comment=Text editor
Comment[fr]=Editeur de texte
Comment[no]=Teksteditor
TryExec=gedit
Exec=gedit
Icon=gnome-word.png
Terminal=0
Type=Application
