[Desktop Entry]
Name=gEdit
Name[fr]=gEdit
Comment=Text editor
Comment[fr]=Editeur de texte
TryExec=gedit
Exec=gedit
Icon=gnome-word.png
Terminal=0
Type=Application
