[Desktop Entry]
Name=gedit
Name[da]=gedit
Name[es]=gedit
Name[fr]=gedit
Name[gl]=gedit
Name[ja]=gedit
Name[lt]=gedit
Name[no]=gedit
Name[pl]=gedit
Name[pt]=gedit
Name[wa]=gedit
Comment=Text editor
Comment[da]=Tekstbehandler
Comment[es]=Editor de texto
Comment[fr]=Editeur de texte
Comment[gl]=Editor de texto
Comment[ja]=¥Æ¥­¥¹¥È¥¨¥Ç¥£¥¿
Comment[lt]=Tekstø redaktorius
Comment[no]=Tekstredigering
Comment[pl]=Edytor tekstu
Comment[pt]=Editor de texto
Comment[wa]=Aspougneu di tecse
TryExec=gedit
Exec=gedit
Icon=gnome-gedit.png
Terminal=0
Type=Application
