[Desktop Entry]
Name=gedit
Name[sl]=gedit
Name[az]=gedit
Name[da]=gedit
Name[el]=Κειμενογράφος
Name[es]=gedit
Name[fi]=gedit
Name[fr]=gedit
Name[ga]=gedit
Name[gl]=gedit
Name[hu]=gedit
Name[ja]=gedit
Name[lt]=gedit
Name[no]=gedit
Name[pl]=gedit
Name[pt]=gedit
Name[pt_BR]=gedit
Name[sk]=gedit
Name[sv]=gedit
Name[tr]=gedit
Name[uk]=gedit
Name[wa]=gedit
Comment=Text editor
Comment[sl]=Urejevalnik besedil
Comment[da]=Teksteditor
Comment[el]=Απλός κειμενογράφος
Comment[es]=Editor de texto
Comment[fi]=Tekstieditori
Comment[fr]=Éditeur de texte
Comment[ga]=Eagarthóir Teacs
Comment[gl]=Editor de texto
Comment[hu]=Szövegszerkesztő
Comment[ja]=テキストエディタ
Comment[lt]=Tekstų redaktorius
Comment[no]=Tekstredigering
Comment[pl]=Edytor tekstu
Comment[pt]=Editor de texto
Comment[pt_BR]=Editor de texto
Comment[sk]=Textový editor
Comment[sv]=Textredigerare
Comment[tr]=Metin editörü
Comment[uk]=Текстовий редактор
Comment[wa]=Aspougneu di tecse
TryExec=gedit
Exec=gedit
Icon=gedit-icon.png
Terminal=0
Type=Application
