[Desktop Entry]
Name=gedit
Name[da]=gedit
Name[es]=gedit
Name[fi]=gedit
Name[fr]=gedit
Name[gl]=gedit
Name[ja]=gedit
Name[lt]=gedit
Name[no]=gedit
Name[pl]=gedit
Name[pt]=gedit
Name[wa]=gedit
Name[uk]=gedit
Comment=Text editor
Comment[da]=Teksteditor
Comment[es]=Editor de texto
Comment[fi]=Tekstieditori
Comment[fr]=Editeur de texte
Comment[gl]=Editor de texto
Comment[ja]=•∆•≠•π•»•®•«•£•ø
Comment[lt]=Tekst¯ redaktorius
Comment[no]=Tekstredigering
Comment[pl]=Edytor tekstu
Comment[pt]=Editor de texto
Comment[wa]=Aspougneu di tecse
Comment[uk]=Ù≈À”‘œ◊…  “≈ƒ¡À‘œ“
TryExec=gedit
Exec=gedit
Icon=gedit-icon.xpm
Terminal=0
Type=Application
