[Desktop Entry]
Name=gEdit
Name[fr]=gEdit
Name[no]=gEdit
Name[pt]=gEdit
Comment=Text editor
Comment[fr]=Editeur de texte
Comment[no]=Teksteditor
Comment[pt]=Editor de texto
TryExec=gedit
Exec=gedit
Icon=gnome-word.png
Terminal=0
Type=Application
